@model IEnumerable<Escrutinio.Models.MesasEscrutadasIndexModel>
@using System.Configuration

@{
    ViewBag.Title = "MESAS ESCRUTADAS";
}

<link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />

<section class="content-header">

    <h3 class="box-title">@ViewBag.Title</h3>

</section>

<section class="content">

    <div class="row">

        <div class="col-xs-12">

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            CIRCUITO
                        </th>
                        <th>
                            ESCUELA
                        </th>
                        <th>
                            MESA
                        </th>
                        <th>
                            OPCIONES
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIRCUITO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ESCUELA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MESA)
                            </td>
                            <td>
                                <a class="col-md-4" href="@Url.Action("Ver", new { id = item.ORID_MESA })"><i class="fa fa-eye fa-lg"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            CIRCUITO
                        </th>
                        <th>
                            ESCUELA
                        </th>
                        <th>
                            MESA
                        </th>
                        <th>
                            OPCIONES
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</section>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        jQuery.noConflict();
        jQuery("#example1").DataTable({
            "ordering": false,
            "paging": false,
        });

    </script>
}
